---
layout: default
title: Team Schäfer
img: assets/img/schaefertafel.jpg
---

<div class="nouns">
	<div class="noun-l">
		<h2><img src="assets/img/tsl.svg" alt="">Wahrheit</h2>
		<p>Wir haben den Mut, endlich die Warheit zu sagen. Die Warheit ist: Wir sind die Besten!
	</div>
	<div class="noun-l">
		<h2><img src="assets/img/tsl.svg" alt="">Transparenz</h2>
		<p>Wir fordern Transparenz in allen Bereichen der Privtasphäre und gehen mit gutem Beispiel voran.
	</div>
	<div class="noun">
		<h2><img src="assets/img/tsl.svg" alt="">Nudeln</h2>
		<p>Nudeln sind für uns die Basis politischer Entscheidungen und stehen stets im Zentrum unseres Handelns.
	</div>
</div>
<div class="boxes">
	<div class="boxA">
		<p><span>Weniger Apfel.</span><br>
		Mehr Apfelkuchen</p>
		{% include boxbg.html %}
	</div>
	<div class="boxB">
		<p><span>Schluss mit Pildung</span><br>
		Mehr Party!</p>
		{% include boxbg.html %}
	</div>
	<div class="boxC">
		<p>Die Flut<span> der</span> Gewässer<br>
		Eindämmen
		</p>
		{% include boxbg.html %}
	</div>
	<div class="boxD">
		<p>Neue Religionen <span>für</span><br>
		mehr Vielfalt!
		</p>
		{% include boxbg.html %}
	</div>
</div>