/*===================================
=            Scaffolding            =
===================================*/

body {
	background-color: #ddd;
	margin: 0;
}

a {
	color: #08c;
	text-decoration: none;
}
p{
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #3A3A46;
}
h1{
	font-size: 60px;
	color: #3A3A46;
}
h1,h2{
	text-transform: uppercase;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	font-weight: 700;
}

a:hover,
a:focus {
	text-decoration: underline;
}

/*-----  End of Scaffolding  ------*/

/*==================================
=            Navigation            =
==================================*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 666;
	background-color: #3A3A46;
}

.navbar ul {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	list-style: none;
	text-transform: uppercase;
}
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}

.nav a {
	display: block;
	padding: 20px;
	color: #fff;
}

.nav a:hover,
.nav a:focus,
.nav .current {
	background-color: #662B2D;
}

.nav > li {
	float: left;
}

.nav > .logo > a {
	padding: 17px 20px;
}

.nav > .logo img {
	height: 32px;
	vertical-align: top;
}

.nav > li:hover > .dropdown {
	display: block;
}

/*-----  End of Navigation  ------*/

/*================================
=            Dropdown            =
================================*/

.dropdown {
	display: none;
	position: absolute;
	top: 100%;
	width: auto;
	font-size: 15px;
	background-color: #3A3A46;
	padding: 0;
}

.dropdown > li > a {
	display: block;
}

/*-----  End of Dropdown  ------*/

/*================================
=            Masthead            =
================================*/

.masthead {
	background-color: #2A2A33;
}

.masthead img {
	max-width: 100%;
	vertical-align: top;
}

/*-----  End of Masthead  ------*/

/*================================
=            Main Content        =
================================*/


.wrapper {
	padding-top: 64px;
}

/*================================
=            Nouns               =
================================*/

.nouns {
	display: table;
	width: 902px;
	margin: 30px auto;
}

.nouns h2 {
	color: #ea1b01;
}

.nouns img {
	width: 50px;
	height: 50px;
	position: relative;
	top: 6px;
}

.nouns p {
	text-align: justify;
	padding: 20px;
}

.nouns > div {
	display: table-cell;
	width: 33%;
}

.noun-l {
	border-right: solid 1px #bbb;
}

/*-----  End of Nouns  ------*/

/*================================
=            Obviousbox          =
================================*/
.boxes {
	margin: 1px auto;
	width: 1120px;
	display: table;
	color: #fff;
}
.boxes > div > p {
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Arial Black',Arial bold,sans-serif;
	color: #fff;
}
.boxes > div > p > span{
	font-size: 20px;
	text-transform: none;
	font-family: 'Times New Roman';
	font-style: italic;
}
.boxA{
	background-color: #662B2D;
}
.boxB{
	background-color: #36F;
}
.boxC{
	background-color: #96F;
}
.boxD{
	background-color: #FF9933
}
.boxes > div{
	padding: 0 25px;
	height: 300px;
	width: 210px;
	float: left;
	margin: 10px;
	background-image: url('../img/austria.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	z-index: -3;
}
.boxbg{
	text-align: center;
	background-color: inherit;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -2;
	margin-left: 30px;
}
.boxbg p{
	float: left;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 20px;
	background-color: inherit;
	color: #fff;
	z-index: 1;
	padding: 3px 5px 0 0;
}
.boxbg img{
	position: relative;
	float: left;
	right:25px;
	bottom: 21px;
	z-index: -1;
}
/*-----  End of Obviousbox  ------*/
/*================================
=            Text                =
================================*/

.text{
	width: 800px;
	margin: 1px auto;
}
.text img{
	float: left;
}
.textheader{
	font-size: 20px;
	font-family: Arial, sans-serif;
}
/*-----  End of Text  ------*/