<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>

	<!-- build:css assets/css/main.css -->
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<!-- endbuild -->
</head>
<body>
	<header class="navbar">
			<nav>
				<ul class="nav">
					<li class="logo">
						<a href="index.html">
							<img src="assets/img/tsl.svg" alt="Home">
						</a>
					</li>
					<li><a href="index.html">Team Schäfer</a></li>
					<li><a href="about.html" {% if page.url == '/about.html' or page.url == '#' %}class ="current"{% endif %}>Marc</a>
						<ul class="dropdown">
								<li><a href="about.html" {% if page.url == '/about.html' %}class ="current"{% endif %}>Über Marc</a></li>
								<li><a href="#" {% if page.url == '#' %}class ="current"{% endif %}>Das Team</a></li>
							</ul>
					</li>
					<li><a href="#" {% if page.url == '#' or page.url == '#' %}class ="current"{% endif %}>News</a>
							<ul class="dropdown">
								<li><a href="#" {% if page.url == '#' %}class ="current"{% endif %}>Informationen</a></li>
								<li><a href="#" {% if page.url == '#' %}class ="current"{% endif %}>Breaking News</a></li>
							</ul>
					</li>
					<li><a href="#" {% if page.url == '#' or page.url == '#' %}class ="current"{% endif %}>Programm</a>
						<ul class="dropdown">
							<li><a href="#" {% if page.url == '#' %}class ="current"{% endif %}>Was wir fordern</a></li>
							<li><a href="#" {% if page.url == '#' %}class ="current"{% endif %}>Unsere Erfolge</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
		<div class="wrapper">
			<div class="masthead">
				<img src="{{page.img}}" alt="{{page.title}}">
			</div>

			{{ content }}

		</div>
	</body>
</html>