<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css'>
		<link rel='stylesheet'  href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700'>
		<link rel="stylesheet" href="assets/css/app.css">
	</head>
	<body>
		<header class="navbar">
			<nav>
				<ul class="nav">
					<li class="logo">
						<a href="index.html">
							<img src="assets/img/tsl.svg" alt="Home">
						</a>
					</li>
					<li><a href="/index.html">Team Schäfer</a></li>
					<li><a href="/about.html" {% if page.url == '/about.html' or page.url == '/team.html' %}class ="current"{% endif %}>Marc</a>
						<ul class="dropdown">
								<li><a href="/about.html" {% if page.url == '/about.html' %}class ="current"{% endif %}>Über Marc</a></li>
								<li><a href="/team.html" {% if page.url == '/team.html' %}class ="current"{% endif %}>Das Team</a></li>
							</ul>
					</li>
					<li>
						<a href="/news.html" {% if page.url == '/news.html' or page.url == '/news.html' %}class ="current"{% endif %}>News</a>
					</li>
					<li>
						<a href="/program.html" {% if page.url == '/program.html' or page.url == '/program.html' %}class ="current"{% endif %}>Programm</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="wrapper">
			<div class="masthead">
				{% unless page.img == nil %}<img src="{{page.img}}" alt="">{% endunless %}
				{% unless page.url == '/index.html' %}<h1>{{page.title}}</h1>{% endunless %}
			</div>

			{{ content }}

		</div>
	</body>
</html>
